<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tropicalTreasures" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tropicalTreasures" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tropicalTreasures" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tropicalTreasures" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tropical Treasures</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="viewController">
    <div id="title-image">
        <img src="img/title.png" />
    </div>
    <div id="game-container">
        <window data-reels="reels" data-active-line="activeLine"></window>
    </div>
    <div id="coins">
        <div class="coin" ng-click="spin(0)">
            <img src="img/minusone.png"/>
        </div>
        <div class="coin" ng-click="spin(1)">
            <img src="img/minusone.png"/>
        </div>
        <div class="coin" ng-click="spin(2)">
            <img src="img/minusone.png"/>
        </div>
    </div>
    <div id="scoreWrapper">
        <div id="score" ng-show="lastScoreType && !spinning">
            <h3>{{lastScoreType}}  Won: {{lastScore}}</h3>
        </div>
    </div>

    <!-- Audio assets -->
    <audio id="spinning" src="audio/spinning.mp3"></audio>
    <audio id="payoff" src="audio/payoff.mp3"></audio>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view/view.js"></script>
  <script src="components/game/module.js"></script>
  <script src="components/game/advanceReel.js"></script>
  <script src="components/game/createReel.js"></script>
  <script src="components/game/scoreLine.js"></script>
</body>
</html>
